<%- include ('../partials/header') %>

<main>
    <h1>Page non trouvée</h1>
        <p>La page que vous essayez n'existe pas</p>
        <a href="/">Retour à l'accueil</a>
</main>

<%- include ('../partials/footer') %>