/* Custom reset */

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  color: #5e422e;
}

ul {
  list-style-type: none;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  width: 150px;
}

body,
html {
  margin: 0;
  padding: 0;
}

.aside {
  position: fixed;
  top: 0;
  width: 375px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.left {
  left: 0;
  background-image: url("/images/asidegauche.png");
  opacity: 0.7;
}

.right {
  right: 0;
  background-image: url("/images/asidedroite.png");
  opacity: 0.7;
}

h1,
p {
  margin: 20px 0;
  color: #4d2607;
}

.logo img {
  margin-right: 10px;
  width: 60%;
}

h1 {
  font-size: 30px;
  color: #4d2607;
}

h2 {
  color: #4d2607;
  margin-top: 40px;
  font-size: 30px;
  margin-left: 60px;
}

#categorySelect {
  padding: 0.7em;
  border-radius: 15px;
  background-color: #f4e6dc;
  font-weight: 800;
}

.categories {
  padding: 0.6em;
  color: #4d2607;
  margin-left: 40px;
  margin-top: 15px;
}

h3 {
  background-image: url("/images/river-fx-dlUOxkgrofg-unsplash.jpg");
  background-position: center center;
  text-align: center;
  color: #3e1e04;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: x-large;
  font-weight: 800;
}

.art-cont-shop p {
  font-size: 20px;
}

.shop-title {
  background-image: url("/images/coffees/espace-scaled.jpg");
  height: 300px;
  color: #3e1e04;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 400px;
}

.container-shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.shop-pic {
  display: flex;
  justify-content: center;
}

.shop-description img {
  border-radius: 15px;
}

.shop-map-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  margin-top: 50px;
}

.shop-map {
  display: flex;
  flex-direction: column;
  
}

.shop-map img {
  width: 800px;
  border-radius: 15px;
}

.shop-contact {
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
}

h4 {
  font-size: 27px;
  text-align: center;
  color: #4d2607;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.article-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
  width: 100%; /* Aligné avec la largeur de l'image */
  padding: 0 20px;
  margin: 0; /* Centrer l'élément par rapport au parent */
  text-align: center;
}

.article-pic {
  margin-bottom: 20px;
}

.article-pic img {
  width: 600px;
  height: auto;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 20px;
}

.art-cont-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.one_article_list {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  gap: 20px;
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh; /* Force le corps à au moins la hauteur de la fenêtre */
  margin: 0 auto;
  background-color: #f4e6dc;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  box-sizing: border-box;
  max-width: 1280px;
}

main {
  flex: 1;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4e6dc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 1280px; /* Limite la largeur maximale pour la mise en page */
}

#filter {
  padding: 5px;
  border: 2px solid #faedd1;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

footer {
  font-size: small;
  margin-left: 40px;
  margin-top: auto;
}

.latest-products-list {
  gap: 10px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/* Style pour chaque article */
.latest-products-article {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn_cata {
  /*bien centrer texte dans l'encadré */
  font-weight: 900;
  font-size: 1.5em;
  margin-left: 15px;
  padding: 15px;
  width: 200px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none; /* Supprime le soulignement par défaut du lien */
  color: #333;
}

.btn_cata-mini {
  /*bien centrer texte dans l'encadré */
  font-weight: 500;
  font-size: 1.1em;
  margin-left: 15px;
  background-color: white;
  padding: 15px;
  width: 100px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
}

.btn_cata:hover {
  background-color: #817272;
  color: #fff;
}

.btn_cata_article {
  width: 150px;
  border-radius: 15px;
  border: 1px solid #706f6f;
  text-decoration: none;
  color: #333;
  padding: 10px;
  margin-top: 20px;
}

.btn_cata_articlecenter {
  width: 300px;
  display: inline-block;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border: 1px solid #706f6f;
  text-decoration: none;
  color: #333;
  padding: 10px;
  font-weight: 800;
  font-size: 1.2em;
}

.btn_cata_article:hover {
  background-color: #817272;
  color: #fff;
}

.add_cart {
  width: 10%;
  text-align: right;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.btn_new {
  font-weight: 900;
  font-size: large;
  margin-top: 100px;
  padding: 10px;
  width: 150px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
}

.btn-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
  margin:10px;
  }

.container-searchlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 35px;
}

.latest-products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.latest-products-article {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.container-up {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin-left: 80px;
}

#picture {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

#picture img {
  margin-top: 40px;
  margin-left: 40px;
  width: 88%;
  height: auto;
}

.container-list {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.one_article_list {
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f5e1c9;
  position: relative;
}

.article-pic_list img {
  max-width: 100%; /* S'assure que l'image ne dépasse pas la largeur du conteneur */
  height: auto; /* Conserve les proportions de l'image */
  display: block;
  margin: 0 auto 10px; /* Centre l'image et ajoute un espace en bas */
  border-radius: 5px;
}

.article-description_list p {
  margin: 10px 0;
  position: relative;
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.article-description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.remove_cart {
  background-color: transparent;
  border: 2px solid rgb(3, 3, 3);
  color: rgb(2, 2, 2);
  border-radius: 5%;
  font-size: 1.2em;
  width: 24px;
  height: 24px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin-left: 10px;
}

.remove_cart:hover {
  background-color: rgb(100, 75, 38);
  border-radius: 5%;
  color: white;
}
form {
  margin: 20px 0;
  width: 400px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 12px;
}
.form-group textarea {
  height: 100px;
}
button {
  padding: 10px 15px;
  background-color: #f5e1c9;
  color: rgb(24, 23, 23);
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #f5e1c9;
}

/* Style général pour la navbar */
.menu-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Style pour les liens de la navbar */
.navbar-links {
  display: flex; /* Ajouté pour utiliser flexbox */
  align-items: center; /* Centre les éléments verticalement */
}

/* Style pour la liste dans la navbar */
.navbar-links ul {
  display: flex;
  list-style: none; /* Enlève les puces des éléments de la liste */
  padding: 0; /* Enlève le padding par défaut */
  margin: 0; /* Enlève la marge par défaut */
}

/* Style pour chaque élément de la liste */
.navbar-links li {
  margin: 0 10px; /* Ajoute une marge entre les éléments */
  font-size: 1.2em;
}


/* Style pour les liens */
.navbar-links a {
  text-decoration: none; /* Enlève la décoration par défaut des liens */
  color: #3e1e04; /* Change la couleur selon votre préférence */
}

/* Style pour le menu hamburger */
.menu-hamburger {
  width: 30px;
  height: 30px;
  display: none; /* Par défaut caché pour grands écrans */
}

/* Styles pour les écrans de taille max 720px */
@media screen and (max-width: 720px) {
  .menu-hamburger {
    display: block;
  }
  .aside {
    display: none;
  }
    .navbar-links {
    display: none; /* Par défaut caché pour petits écrans */
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f4e6dc;
    border: 1px solid #3e1e04;
    border-radius: 7px;
    padding: 25px;
    margin: 15px;
    width: 250px; /* Ajuste la largeur selon votre préférence */
    transition: all 0.5s ease;
  }

  .navbar-links.mobile-menu {
    display: flex; /* Affiche lorsque le menu mobile est activé */
  }

  .navbar-links ul {
    flex-direction: column;
  }

  /* Reduire les conteneurs et articles à une colonne */
  .container-shop, .container-up, .container-searchlist, .container-list, .latest-products-list {
    grid-template-columns: 1fr; /* Une seule colonne */
  }
  .container-up{
    margin: 0 auto;
  }
  .article, .one_article_list, .latest-products-article {
    max-width: 100%; /* Occupe toute la largeur disponible */
    margin: 0 auto 20px; /* Centré et avec une marge en bas */
  }
}
/* Styles pour les écrans de taille entre 720px et 900px */
@media screen and (min-width: 721px) and (max-width: 900px) {
  .container-shop, .container-searchlist, .container-list, .latest-products-list {
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  }
}

/* Styles pour les écrans de taille min 900px */
@media screen and (min-width: 900px) {
  .menu-hamburger {
    display: none; /* Caché pour grands écrans */
  }
  
  }

