
<footer>
    <p>@2024 Ocoffee - Pepper Brothers - Tous droits réservés</p>
</footer>

</div>
</body>
<script src="/app.js"></script>
<script>
const menuHamburger = document.querySelector(".menu-hamburger")
        const navLinks = document.querySelector(".navbar-links")
 
        menuHamburger.addEventListener('click',()=>{
        navLinks.classList.toggle('mobile-menu')
        })
</script>
<div class="background"></div>
</html>