<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="La boutique de oCoffee des frères Pepper, spécialistes du café à Hauts-de-Cloques">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
<body>
   <div class="aside left"></div>
  <div class="aside right"></div>
     <header>
      <nav class="menu-navbar">
       <a href='/' class="logo">
       <img src="/images/logo.svg" alt="Logo du site oCoffee">
       <img src="/images/logoPNG.png" alt="Logo du site oCoffee">
      </a>
      <div class="navbar-links">
          <ul>
            <li><a href= '/'>Accueil</a></li>
            <li><a href='/catalog'>Catalogue</a></li>
            <li><a href='/shop'>Boutique</a></li>
            <li><a href='/cart'><img src="/images/shopping-basket_258450.png" alt="Panier" style="width:20px;height:20px;"></a></li> 
          </ul>
        </div>
      </nav>
          <img src="/images/menu.png" alt="menu-hamburger" class="menu-hamburger">
      </header>

